@model PortfolioWebsiteAspNetCore.Models.ContactFormModel

@{
    ViewData["Title"] = "Home Page";
}


<div id="page-container">
<div id="content-wrap">

<div class="jumbotron">
    <h1 class="display-3">Welcome!</h1>
</div>

<div class="row marketing">
    <p class="about-lead">
        My name is Orlando Lopez, and thank you for checking out my Website! I am currently studying computer science, and I am
        proficient in writing code in C# and ASP.NET Core/MVC. 
        <br />
        I've always had an interest
        in computers, and was the go to "computer guy" for my family. I would
        assist in troubleshooting, program installs, Wifi network setups and
        other random computer things.
        <br />
        <br />
        I am a soccer fan and I love watching the sport. I am a big follower
        of Real Madrid, who play in the Spanish league and are one of the
        biggest clubs in Europe.
        <br />
    </p>
    <div class="col-lg-6">
        <blockquote class="blockqoute">
            <p class="mb-0">"He's wicked smaht."</p>
            <footer class="blockqoute-footer">
                <cite title="Source Title">&mdash; Boston Friend</cite>
            </footer>
        </blockquote>

        <blockquote class="blockqoute">
            <p class="mb-0">"Very hardworking, you should hire him"</p>
            <footer class="blockqoute-footer">
                <cite title="Source Title">&mdash; Mom</cite>
            </footer>
        </blockquote>

        <h4></h4>
        <p></p>
    </div>

    <div class="col-lg-6">
        <blockquote class="blockqoute">
            <p class="mb-0">"He is alright"</p>
            <footer class="blockqoute-footer">
                <cite title="Source Title">&mdash; Dad</cite>
            </footer>
        </blockquote>

        <blockquote class="blockqoute">
            <p class="mb-0">"Five stars"</p>
            <footer class="blockqoute-footer">
                <cite title="Source Title">&mdash; Yelp</cite>
            </footer>
        </blockquote>

      
      </div>

    </div>
 


    <hr />

<!--Skills Section-->
<div class="container-fluid">
    <div class="card w-100">
        <h3 class="card-header">Skills</h3>
        <div class="card-block">
            <p class="card-text">C#</p>
            <div class="progress">
                <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
            </div>
            <br />
            <p class="card-text">ASP.NET Core/MVC</p>
            <div class="progress">
                <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
            </div>
            <br />
            <p class="card-text">HTML</p>
            <div class="progress">
                <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
            </div>
            <br />

            <p class="card-text">CSS</p>
            <div class="progress">
                <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
            </div>

            <br />
            <p class="card-text">JavaScript</p>
            <div class="progress">
                <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>

            <br />

            <p class="card-text">SQL</p>
            <div class="progress">
                <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />
<br />
</div>

</div>













<!--<h2>Programming Languages</h2>-->
<!-- Skills Section -->

<!--<div class="skills">

    <div class="album text-muted">
        <div class="container">

            <div class="row">
                <div class="card">
                    <img src="/images/javascript.png" alt="JavaScript">
                    <p class="card-text text-center"></p>
                </div>
                <div class="card">
                    <img src="/images/HTML5_Logo_256.png" alt="HTML">
                    <p class="card-text"></p>
                </div>
                <div class="card">
                    <img src="/images/css3.svg" alt="CSS">
                    <p class="card-text"></p>
                </div>

                <div class="card">
                    <img src="/images/csharp.png" alt="C#">
                    <p class="card-text"></p>
                </div>
                <div class="card">
                    <img src="/images/aspnet_logo.png" alt="ASP.NET MVC">
                    <p class="card-text text-center"></p>
                </div>
                <div class="card">
                    <img src="/images/sql3.png" alt="SQL">
                    <p class="card-text">Oracle & Microsoft SQL Server</p>
                </div>

            </div>
        </div>

    </div>

    </div>-->




