@{
    ViewData["Title"] = "Home Page";
}

<div class="index">

<div class="jumbotron">
    <h1 class="display-3">Welcome!</h1>
</div>

<div class="row marketing">
    <p class="about-lead">
        My name is Orlando Lopez, and thank you for checking out my Website! I am currently studying computer science. I've always had an interest
        in computers, and was the go to "computer guy" for my family. I would
        assist in troubleshooting, program installs, Wifi network setups and
        other random computer things.
        <br />
        <br />
        I am a soccer fan and I love watching the sport. I am a big follower
        of Real Madrid, who play in the Spanish league and are one of the
        biggest clubs in Europe.
    </p>
    <div class="col-lg-6">
        <blockquote class="blockqoute">
            <p class="mb-0">"He's wicked smaht."</p>
            <footer class="blockqoute-footer">
                <cite title="Source Title">&mdash; Boston Friend</cite>
            </footer>
        </blockquote>

        <blockquote class="blockqoute">
            <p class="mb-0">"Very hardworking, you should hire him"</p>
            <footer class="blockqoute-footer">
                <cite title="Source Title">&mdash; Mom</cite>
            </footer>
        </blockquote>

        <h4></h4>
        <p></p>
    </div>

    <div class="col-lg-6">
        <blockquote class="blockqoute">
            <p class="mb-0">"He is alright"</p>
            <footer class="blockqoute-footer">
                <cite title="Source Title">&mdash; Dad</cite>
            </footer>
        </blockquote>

        <blockquote class="blockqoute">
            <p class="mb-0">"Five stars"</p>
            <footer class="blockqoute-footer">
                <cite title="Source Title">&mdash; Yelp</cite>
            </footer>
        </blockquote>

        <h4></h4>
        <p></p>

        </div>

    </div>
 </div>

<!-- Skills Section -->

<div class="skills">



</div>
