
@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<div class="container-fluid">

    <div class="projects">


    <div class="album text-muted">
        <div class="container">

            <div class="row">
                <div class="project-card">
                    <img src="/images/projectwork/Mortgage calculator.gif" alt="Mortgage Calculator app">
                    <p class="project-card-text">
                        Simple Mortgage Calculator App
                        <br>
                        <a href="https://bitbucket.org/olopez_14/mortgage-calculator/src/master/">Source Code</a>
                    </p>
                </div>
                <div class="project-card">
                    <img src="/images/projectwork/School management system.jpg" alt="School Management System">
                    <p class="project-card-text">
                        School Management System
                        <br>
                        <a href="https://bitbucket.org/olopez_14/capstone-project/src/master/">Source Code</a>
                    </p>
                </div>
                <div class="project-card">
                    <img src="/images/projectwork/Paintingwebsite.gif" alt="Painting Business Website">
                    <p class="project-card-text">
                        A painting business website that includes a contact page that uses mailkit to send an email.
                        <br>
                        <a href="https://github.com/orlando1424/PaintingBusinessWebPage">Source Code</a>
                    </p>
                </div>

                <div class="project-card">
                    <img src="/images/projectwork/emailpassword.jpg" alt="Email & Password generator">
                    <p class="project-card-text">
                        Email & Password generator
                        <br>
                        <a href="https://bitbucket.org/olopez_14/java-final-project/src/79e5d28e30ff670fc4acac5edec1321325ad78c3/?at=master">Source Code</a>
                    </p>
                </div>
                <div class="project-card">
                    <img src="/images/projectwork/StudentManager.gif" alt="Student Management System">
                    <p class="project-card-text">
                        CRUD app in ASP.NET Core 
                        <br>
                        <a href="https://github.com/orlando1424/StudentManager">Source Code</a>
                    </p>
                </div>

            </div>
        </div>
    </div>

 </div>


</div>

